@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Medula+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    width: 100vw;
    height: 100vh;
    font-family:'Raleway', sans-serif;
}
header{
    position:relative;
    text-align: center;
    background: url(../img/flag-2694986_1920.jpg);
    background-size: cover;
    width: 100vw;
    height: 100%;
    color: rgb(5, 2, 0);
    justify-content: space-around;
    
}
h1{
    font-size: 50px;
    margin:20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #ff0000 ;
}
body{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    border: solid;
    align-items: center;
    margin: 0;
}
nav{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    bottom: -40px;
    z-index: 3;

    }
nav button{
    background: none;
    border: solid;
    color:#fff;
    border-color: rgb(224, 6, 6);
    width: 20%;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.507);
}    
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.dishes_container{
    display: flex;
    position:relative;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background:no-repeat url(../img/restaurant-5521372_1920.jpg);
    background-size: cover;
    background-position: center;
   }
article{
width: 25%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
opacity: 1;
transition: 800ms ;
}

article:hover, nav button:hover{
    transition: 800ms ;
    border-color: #ffffff;
    text-shadow:  0 0 7px #fff, 
               0 0 10px #fff, 
               0 0 42px rgb(230, 18, 124),   
               0 0 77px rgb(230, 18, 124), 
               0 0 10px rgb(230, 18, 124);
}
.image_container{
    width: 100%;
    height: 300px;
    border: solid black;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    size: 100%;
    object-position: center;
}
.more_information{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    overflow-y: scroll;
    opacity: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.651);
}
.more_information::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
    text-shadow: none;
  }
.more_information:hover{
    opacity: 0.9;
    text-shadow: none;
    transition: 1000ms;
}
span{
    text-align: center;
    width: 100%;
    color: rgb(35, 182, 47);
    background-color: black;
    border: solid black;
    margin-bottom: 20px;
    padding-top: 10px;
   }
button{
    width: 60%;
    height: 30px;
    background-color:   rgb(224, 6, 6)                                          ;
    border-radius: 5px;
    opacity: 0.65;
    border: none                        ;
    font-family:'Raleway', sans-serif;
}
button:hover{
    opacity: 1;
    cursor: pointer;
}
button:focus {
    transition: 800ms;
    transform: scale(120%);
}

footer{
    background-color: rgb(51, 47, 47);
    text-align: center;
    width: 100%;
    padding:20px;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .dishes_container{
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .image_container{
        height: 60%;
    }
    article{
        width: 25%;
        height: 25%;
        display: flex;
       
    
    }
  button , footer,  .more_information{
        font-size: 11px;
    }
     
   }
@media screen and (max-width: 480px) {
    .dishes_container{
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    article{
        width: 35%;
        display: flex;
        margin-top:40px
    }
 button , footer,  .more_information{
        font-size: 8px;
        
    }
    footer{
        padding: 5px;
    }
    span{
        padding: 0%;
    }
    button{
        height: 20px;
    }
 
   }
    